*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    --bg-color: #EDF2FF;
    --text-color: #00082F;
    --primary-color:#4263EB;
    --pimary-color-dark: #364FC7;
  
  }
  
  body.dark-blue {
    --bg-color: #00082F;
    --text-color: #EDF2FF;
  }
  body.pink {
    --bg-color:#FFF0F6;
    --text-color:#00082F;
    --primary-color: #D6336C;
    --primary-color-dark: #A61E4D;
  }

  body.sea-green {
    --bg-color:#FFF9D2;
    --text-color: black;
    --primary-color: #4CEFFF;
    --primary-color-dark:#26CBDC;
  }
  
  body {
    background: var(--bg-color);
    color: var(--text-color);
    font-family: 'Gentium Book Plus', serif;
  }

  :root {
    font-size: 62.5%;
  }

  a {
    text-decoration: none;
  }
  .container {
    text-align: center;
    width: 30rem;
    margin: 6rem auto;
  }
  h1 {
    font-size: 3.2rem;
    color: black;
    margin-top: 2.4rem;
    margin-bottom: 0.8rem;
  
  }
  
  img {
    border-radius: 50%;
    width: 17rem;
    height: 17rem;
    padding: 0.37rem;
    border: var(--pimary-color) solid 0.4rem;
  }
  
  ul {
    list-style: none;
    margin: 4.8rem 0;
  }
  
  
  ul li a {
    height: 5.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    text-transform: lowercase;
    color: var(--text-color);
    font-size: 1.4rem;
    margin-bottom: 1.6rem;
    border-radius: 0.6rem;
    transition: background 400ms;
  }
  
  ul li a:hover {
    background: var(--pimary-color-dark) ;
  }
  
  .user {
    font-family: 'Roboto Mono', monospace;
    color: var(--text-color);
    opacity: 0.6;
    font-size: 1.4rem;
    transition: opacity 400ms;
  }
  
  .user:hover {
    opacity: 1;
  }
  footer {
    font-weight: 500;
    font-size: 1.2rem;
    opacity: 0.6;
    transition: opacity 400ms;
  }
  
  footer:hover {
    opacity: 1;
  }
  footer a {
    color: var(--text-color);
  }
